<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CoalMiners - Who we Are</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>CoalMiners<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="active">Who we Are</a></li>
          <li><a href="/services">Our Business</a></li>
          <li><a href="/projects">Sustainablity</a></li>
          <li><a href="/blog">Media</a></li>

          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Who we Are</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Who we Are</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="aboutss=" abou <div class="container" data-aos="fade-up">

      <div class="row position-relative">

        <div class="col-lg-7 about" style="background-image:url(static/img/about.jpg);"></div>


        <div class="col-lg-7">
          <h2>We Dig With Safety In Mind</h2>
          <div class="our-story">
            <h4>Est 2003</h4>
            <h3>Our Journey</h3>
            <p>Over the years, Miners has positioned itself as a leading natural resources conglomerate, focusing on
              large scale expansion of its portfolio in India with operational excellence benchmarked to global
              standards.

              For 15 years, we have facilitated the growth of the Indian economy by contributing to the national
              exchequer and creating thousands of jobs.</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>To create a leading global natural resources
                  company.</span>
              </li>
              <li><i class="bi bi-check-circle"></i> <span>To maintain sustainablity.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>To enlighten the world by safe digging.</span></li>
            </ul>


            <div class="watch-video d-flex align-items-center position-relative">
              <i class="bi bi-play-circle"></i>
              <a href="https://youtu.be/WcgsgA3QFy4" class="glightbox stretched-link">Let's take a look.</a>
            </div>
          </div>
        </div>

      </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">
        <p>
        <h2>We understand the importance of inclusivity at the workplace</h2>
        </p>
        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Women Leaders</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="far fa-thumbs-up"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Women Employees</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-transgender"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Transgender Employees</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-heart"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(static/img/alt-services.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Our core Purpose and Values</h3>
            <p> We dig to strengthen the human resource base for the development of the requisite skill and expertise.
              To maintain high level of customer satisfaction by ensuring supply of quality products and
              to improve the socio economic environment to brighten the growth prospect of the people living in and
              around the mines.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="fas fa-seedling flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Care</a></h4>
                <p>We are committed to our triple bottom line of ‘People, Planet and Prosperity’
                  to create a sustainable future in a “zero-harm, zero waste and zero discharge” environment for our
                  communities.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi-bar-chart flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Excellence</a></h4>
                <p>Our primary focus is delivering value of the highest standard. We are constantly looking at ways
                  to reduce costs and increase production in our businesses through benchmarking best practices and
                  employee participation.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="far fa-handshake flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Trust</a></h4>
                <p>An energetic, intuitive zeal that arises from emotional engagement with the organisation that makes
                  work joyful and inspires each one to give his or her best.
                  A voluntary, spontaneous and relentless pursuit of goals and objectives with the highest level of
                  energy and enthusiasm.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi-lightbulb flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Innovation</a></h4>
                <p>We encourage innovation that leads to zero harm, zero waste and zero discharge environment
                  and optimal utilization of natural resources, improved efficiencies and recoveries of by-products.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Building Blocks for a Sustainable Future</h3>
            <p>Miners is a leading global natural resources conglomerate operating across India, South Africa, Liberia
              and Namibia.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="	fas fa-globe flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Business and Operations</a></h4>
                <p>Vedanta Limited, a subsidiary of Vedanta Resources Limited, is the world's leading Oil & Gas with
                  significant operations in Oil & Gas, Copper, Iron Ore,
                  and Power with primary operations across developing economies of India and Africa. We have
                  a responsibility to ensure that we contribute towards the development of these countries and their
                  communities by focusing on constant growth, innovation, value creation and improved operations.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Sustainablity</a></h4>
                <p>Our sustainable development journey continues to create value for our stakeholders. While we have
                  invested our time and resources in introspecting our actions, we have achieved our targets and
                  formulated ambitious new ones. Furthermore, we have adopted global best practices, taken innovative
                  leaps, aligned our standards with industry benchmarks and charted some of our own.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi-lightbulb flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Innovation</a></h4>
                <p>Digitalisation is a key focus area at Miners, and refers to the use of innovative technology to
                  change a business model and provide value-producing opportunities. Digitalising fundamentally enables
                  the organisation to "think" digitally by enhancing business processes to lead to continuous
                  improvement across cost, productivity and sustainability.</p>
              </div>
            </div><!-- End Icon Box -->

            <!-- End Icon Box -->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(static/img/alt-services-2.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>We are leaders in most of the segments we operate in, having global presence with strategic operations in
            India. We are committed to creating long term value for our shareholders, with an
            unwavering focus on business, social and environmental sustainability.</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Sarah Mehta</h4>
              <span>Chief Executive Officer</span>
              <p> We aim to be one of the global leaders in the steel industry and a catalyst to India’s journey of
                self-reliance, by setting higher benchmarks in every aspect & with customer centricity and safety at
                the core of our operations.
              </p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Emlie</h4>
              <span>Chief-Executive Officer-Copper Business</span>
              <p>Innovation, streamlining consumption, better planning, operational discipline, sustained cost
                optimization efforts, strict capital allocation, favorable commodity sourcing, redesigning and
                renegotiating some of our contracts and rigorous benchmarking further help us push the bar of
                excellence.</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Rahul Sharma</h4>
              <span>Deputy Chief Executive Officer</span>
              <p>Miners Ore is fulfilling its mission of spurring emerging applications of aluminium as the
                ‘Metal of the Future’ by marrying sustainable and efficient manufacturing practices with
                best-of-breed technology. Aluminium is amongst the most sustainable of metals, being eternally
                recyclable, and has unique properties that find crucial applications across a vast spectrum of
                industries – from aviation to consumer goods to renewable energy.</p>
            </div>
          </div><!-- End Team Member -->

          <!--<div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="static/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Alisha Sharma</h4>
              <span>Chief Executive Officer</span>
              <p>We stay committed to our mission of powering the state of Punjab, propelling it on a higher growth
                trajectory. As a responsible corporate, we are mindful of our responsibilities and have embarked
                upon a transformational ESG journey with a strong focus on adopting state of the art technology for
                efficiency improvement, reducing water footprints, and ensuring an all-inclusive and holistic
                development of the socio-economic ecosystem.</p>>
            </div>
          </div> End Team Member -->

          <!--<div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="static/img/team/team-5.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Rahul Sharma</h4>
              <span>Deputy Chief Executive Officer</span>
              <p> Miners Ore is fulfilling its mission of spurring emerging applications of aluminium as the
                ‘Metal of the Future’ by marrying sustainable and efficient manufacturing practices with
                best-of-breed technology. Aluminium is amongst the most sustainable of metals, being eternally
                recyclable, and has unique properties that find crucial applications across a vast spectrum of
                industries – from aviation to consumer goods to renewable energy.</p>
            </div>
          </div> End Team Member -->

          <!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Family</h2>
          <p> We are so glad to be a part of Miners which is an environmental Mining Company</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Asheesh Gupta</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    With our continuous focus on the 5Ps - People, Planet, Prosperity, Peace & Partnership, our
                    organization offers a diverse portfolio of world-class products. With this, we aspire to be
                    high-grade, low-cost steel producers, building a sustainable future for all our stakeholders.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sarah Mehta</h3>
                  <h4>Architect</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We aim to be one of the global leaders in the steel industry and a catalyst to India’s journey of
                    self-reliance, by setting higher benchmarks in every aspect & with customer centricity and safety at
                    the core of our operations.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Emlie</h3>
                  <h4>Designer Architect</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Innovation, streamlining consumption, better planning, operational discipline, sustained cost
                    optimization efforts, strict capital allocation, favorable commodity sourcing, redesigning and
                    renegotiating some of our contracts and rigorous benchmarking further help us push the bar of
                    excellence.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Rahul Sharma</h3>
                  <h4>Real Estate-Contractor</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Miners Ore is fulfilling its mission of spurring emerging applications of aluminium as the
                    ‘Metal of the Future’ by marrying sustainable and efficient manufacturing practices with
                    best-of-breed technology. Aluminium is amongst the most sustainable of metals, being eternally
                    recyclable, and has unique properties that find crucial applications across a vast spectrum of
                    industries – from aviation to consumer goods to renewable energy.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>A.Aditya</h3>
                  <h4>Chief Executive Officer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Miners stay committed to their mission of powering the state of Punjab, propelling it on a higher
                    growth
                    trajectory. As a responsible corporate, we are mindful of our responsibilities and have embarked
                    upon a transformational ESG journey with a strong focus on adopting state of the art technology for
                    efficiency improvement, reducing water footprints, and ensuring an all-inclusive and holistic
                    development of the socio-economic ecosystem.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>CoalMiners</h3>
              <p>
                Aparna Colony <br>
                Attapur,Hyderabad<br><br>
                <strong>Phone:</strong>7075885191,7317694519<br>
                <strong>Email:</strong> saniyaxfatima2409@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">Who we Are</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/blog">Careers</a></li>

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Business</h4>
            <ul>
              <li><a href="/">Coal</a></li>
              <li><a href="/">Iron Ore</a></li>
              <li><a href="/">Oil & Gas</a></li>
              <li><a href="/">Copper</a></li>

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Careers</h4>
            <ul>
              <li><a href="#">Life at Miners</a></li>
              <li><a href="#">Work at Miners</a></li>
              <li><a href="#">Career Growth</a></li>

            </ul>
          </div><!-- End footer links column-->

          <!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CoalMiners</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">CoalMiners</a>
        </div>
      </div>
    </div>

  </footer><!-- End footer links column-->

  </div>
  </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>CoalMiners</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">CoalMiners</a>
      </div>
    </div>
  </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>