<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CoalMiners - Our Business</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>CoalMiners<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">Who we Are</a></li>
          <li><a href="/services" class="active">Our Business</a></li>
          <li><a href="/projects">sustainability</a></li>
          <li><a href="/blog">Media</a></li>

          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Our Business</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Our Business</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/constructions-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h2 class="card-title">Oil & Gas</h2>
                    <p>Fueling India's Energy needs.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/constructions-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h2 class="card-title">Copper</h2>
                    <p>Enabling a self-sustained nation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/constructions-3.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h2 class="card-title">Steel</h2>
                    <p>Diversified portfolio covering steel ecosystem</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(static/img/constructions-4.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h2 class="card-title">Aluminium</h2>
                    <p>Creating opportunities with the ‘Metal of the Future’</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </section> <!-- <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain-city"></i>
          </div>
          <h3>Nesciunt Mete</h3>
          <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis
            tempore et consequatur.</p>
          <a href="service-details" class="readmore stretched-link">Learn more <i
              class="bi bi-arrow-right"></i></a>
        </div>
      </div> End Service Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                nesciunt dolorem.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div> End Service Item -->

    <!--<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                eos earum corrupti.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><End Service Item -->

    <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Asperiores Commodit</h3>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident
                adipisci neque.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div> End Service Item -->

    <!--<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Velit Doloremque</h3>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem
                alias eius labore.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>End Service Item -->

    <!--<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Dolori Architecto</h3>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti
                recusandae ducimus enim.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div> End Service Item -->

    </div>

    </div>
    </section><!-- End Services Section -->

    <!-- ======= Servie Cards Section ======= -->
    <section id="/services-cards" class="/services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Enriching lives with power</h3>
            <p>Miners Power is one of the largest private sector power generators in India & a super critical asset..
            </p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>TSPL is the first Vedanta site to become SUP (Single Use Plastic)
                  free</span></li>
              <li><i class="bi bi-check2"></i> <span>India had a total installed capacity of 379.130 GW as of Feb
                  2021</span></li>
              <li><i class="bi bi-check2"></i> <span>The electricity generation target in India is set at 1330 billion
                  units</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>India's leading producer of Iron ore
            </h3>
            <p>Sesa Goa Iron Ore also has two power plants of 30 MW each that produce 60 MW of clean power by using the
              waste heat recovery from its coke ovens and blast furnace gas. The company has diversified its product
              portfolio with the addition of cement, nickel-cobalt operations.</p>

            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Iron ore is found in nearly every industrial activity</span></li>
              <li><i class="bi bi-check2"></i> <span>India's iron ore reserves rank 7th globally (i.e. 5.5 bn
                  tonnes)</span></li>
              <li><i class="bi bi-check2"></i> <span>It has a wide range of applications in steelmaking, construction,
                  infrastructure, and the automotive sector</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Fuelling India’s energy needs</h3>
            <p>With a vision to unlock India’s latent energy , Cairn Oil & Gas is the
              largest private sector producer of crude oil in India. In a market where over 85% of oil and 54% of gas
              demands are met with imported resources,Miners Ltd., plays an active role in reducing
              our country’s import burden by producing oil and gas locally.</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Largest private oil and gas exploration and production company in
                  India</span></li>
              <li><i class="bi bi-check2"></i> <span></span>India’s petroleum products consumption during FY'2021 was
                ~194 million MT</li>
              <li><i class="bi bi-check2"></i> <span>Cairn contributed to approximately 25% of India’s crude oil
                  production in FY'2020</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Enabling a self-sustained nation
            </h3>
            <p>

              Our business unit consists of Copper Smelter, Refinery, Sulphuric acid plant, Phosphoric acid plant, and
              Copper Rod plant at Tuticorin in southern India and a Refinery and two Copper Rod plants at Silvassa in
              western India.</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Copper is an essential commodity of everyday life</span></li>
              <li><i class="bi bi-check2"></i> <span>Copper is a wonder metal with anti-corrosive properties</span></li>
              <li><i class="bi bi-check2"></i> <span>Copper is also used for making cables, transformers, castings,
                  motors and castings, and alloy-based products</span></li>
            </ul>
          </div><!-- End feature item-->

        </div>

      </div>
    </section><!-- End Servie Cards Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <!--<section id="alt-/services-2" class="alt-/services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Non quasi officia eum nobis et rerum epudiandae rem voluptatem</h3>
            <p>Maxime quia dolorum alias perspiciatis. Earum voluptatem sint at non. Ducimus maxime minima iste magni
              sit praesentium assumenda minus. Amet rerum saepe tempora vero.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident</p>
              </div>
            </div>End Icon Box -->

    <!--<div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque</p>
              </div>
            </div>End Icon Box -->

    <!--<div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus
                  aut eligendi omnis</p>
              </div>
            </div> End Icon Box -->

    <!--<div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet.
                  Et eligendi</p>
              </div>
            </div> End Icon Box -->
    <!--- </div>

          <div class="col-lg-6 img-bg" style="background-image: url(static/img/alt-/services-2.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>
        </div>

      </div>
    </section><End Alt Services Section 2 -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-/services" class="alt-/services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(static/img/alt-services.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Enriching lives with power
            </h3>
            <p>India is the third-largest power producer in the world. However, the demand for power in India far
              outweighs the supply which leads to substantial power outages. Over 280 million people in India have no
              access to electricity. With the Government of India advancing its plans to reduce the power shortage,
              Miners Power steps in & caters to the demand by establishing power generation plants across the country
            </p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="fas fa-poll flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Growth</a></h4>
                <p>Highest ever import substitute allocation of 2.03 million MT from CIL amongst all IPPs across India
                  TSPL is the first Miners site to become SUP (Single Use Plastic) free</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Market</a></h4>
                <p>The electricity generation target in India is set at 1330 billion units
                  India’s power demand is likely to touch 1894.70 TWh by the end of FY'22</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link"> Lightening Across</a></h4>
                <p>Apart from Punjab, we are also backed by long-term power purchase agreements with state distribution
                  companies of Tamil Nadu, Kerala, Chhattisgarh, and Odisha to generate power for commercial use.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="far fa-hand-point-right flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Steps</a></h4>
                <p>Miner Power steps in & caters to the demand by establishing power generation plants across the
                  country. We have several power purchase agreements in place to help the state governments supply
                  uninterrupted power to their respective residential communities.

                </p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>We are leaders in most of the segments we operate in, having global presence with strategic operations in
            India. We are committed to creating long term value for our shareholders, with an
            unwavering focus on business, social and environmental sustainability.</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Asheesh Gupta</h3>
                  <h4>Ceo &amp; Co-Worker</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    With our continuous focus on the 5Ps - People, Planet, Prosperity, Peace & Partnership, our
                    organization offers a diverse portfolio of world-class products. With this, we aspire to be
                    high-grade, low-cost steel producers, building a sustainable future for all our stakeholders.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sarah Mehta</h3>
                  <h4>Architect</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    We aim to be one of the global leaders in the steel industry and a catalyst to India’s journey of
                    self-reliance, by setting higher benchmarks in every aspect & with customer centricity and safety at
                    the core of our operations.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Emlie </h3>
                  <h4>Designer Architect</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Innovation, streamlining consumption, better planning, operational discipline, sustained cost
                    optimization efforts, strict capital allocation, favorable commodity sourcing, redesigning and
                    renegotiating some of our contracts and rigorous benchmarking further help us push the bar of
                    excellence.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Rahul Sharma</h3>
                  <h4> Real Estate-Contractor</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Miners Ore is fulfilling its mission of spurring emerging applications of aluminium as the
                    ‘Metal of the Future’ by marrying sustainable and efficient manufacturing practices with
                    best-of-breed technology. Aluminium is amongst the most sustainable of metals, being eternally
                    recyclable, and has unique properties that find crucial applications across a vast spectrum of
                    industries – from aviation to consumer goods to renewable energy.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>A.Aditya</h3>
                  <h4>Chief Executive Officer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Miners stay committed to their mission of powering the state of Punjab, propelling it on a higher
                    growth
                    trajectory. As a responsible corporate, we are mindful of our responsibilities and have embarked
                    upon a transformational ESG journey with a strong focus on adopting state of the art technology for
                    efficiency improvement, reducing water footprints, and ensuring an all-inclusive and holistic
                    development of the socio-economic ecosystem.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>CoalMiners</h3>
              <p>
                Aparna Colony <br>
                Attapur,Hyderabad<br><br>
                <strong>Phone:</strong>7075885191,7317694519<br>
                <strong>Email:</strong> saniyaxfatima@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">Who we Are</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/blog">Careers</a></li>

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Business</h4>
            <ul>
              <li><a href="/">Coal</a></li>
              <li><a href="/">Iron Ore</a></li>
              <li><a href="/">Oil & Gas</a></li>
              <li><a href="/">Copper</a></li>

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Careers</h4>
            <ul>
              <li><a href="#">Life at Miners</a></li>
              <li><a href="#">Work at Miners</a></li>
              <li><a href="#">Career Growth</a></li>

            </ul>
          </div><!-- End footer links column-->

          <!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CoalMiners</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX /contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">CoalMiners</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

<>